 <!--<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="social-icons">
                    <a href="#"><span class="icon-facebook"></span></a>
                    <a href="#"><span class="icon-instagram"></span></a>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    Copyright &copy;<script>
                    document.write(new Date().getFullYear());
                </script> All rights reserved
                </p>
            </div>
        </div>
    </div>
</footer>-->

 <footer class="ftco-footer ftco-section">
     <div class="container">
         <div class="row mb-5">
             <div class="col-md">
                 <div class="ftco-footer-widget mb-4">
                     <h2 class="ftco-heading-2">Fun Fact</h2>
                     <p>We have tracking chips on all our SPOONS....Taking them away wont help :)</p>
                     <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                         <div class="social-icons">
                             <a href="https://www.facebook.com/kjscestudentscouncil/"><span class="icon-facebook"></span></a>
                             <a href="https://www.instagram.com/kjscelive/?hl=en"><span class="icon-instagram"></span></a>

                         </div>
                     </ul>
                 </div>
             </div>
             <div class="col-md">
                 <div class="ftco-footer-widget mb-4 ml-md-5">
                     <h2 class="ftco-heading-2">Quick Links</h2>
                     <ul class="list-unstyled">
                         <li><a href="/shop/menu" class="py-2 d-block">Shop</a></li>
                         <li><a href="/shop/about" class="py-2 d-block">About</a></li>
                         <li><a href="/user/signup" class="py-2 d-block">Signup</a></li>
                     </ul>
                 </div>
             </div>
             <div class="col-md-4">
                 <div class="ftco-footer-widget mb-4">
                     <h2 class="ftco-heading-2">Help</h2>
                     <div class="d-flex">
                         <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                             <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
                             <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>


                     </div>
                 </div>
             </div>
             <div class="col-md">
                 <div class="ftco-footer-widget mb-4">
                     <h2 class="ftco-heading-2">Have Questions?</h2>
                     <div class="block-23 mb-3">
                         <ul>
                             <li><span class="icon icon-map-marker"></span><span class="text">Kj somaiya college of Engineering,
Vidyavihar(East),
Mumbai: 400 077
</span>
                                 </span></li>
                             <li><a href="#"><span class="icon icon-phone"></span><span class="text">02225672567
										</span></a></li>
                             <li><a href="/shop/contact"><span class="icon icon-envelope"></span><span
                                     class="text">Contact Us</span></a></li>
                         </ul>
                     </div>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col-md-12 text-center">

                 <p>
                     Copyright &copy;<script>
                     document.write(new Date().getFullYear());
                 </script> All rights reserved
                 </p>
             </div>
         </div>
     </div>
 </footer>