










<div class="hero-2" style="background-image: url('/images/hero_2.jpg');">
    <div class="container">
        <div class="row justify-content-center text-center align-items-center">
            <div class="col-md-8">
                <span class="sub-title">Welcome</span>
                <h2>About Us</h2>
            </div>
        </div>
    </div>
</div>


<div class="site-section py-5 custom-border-bottom" data-aos="fade">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="block-16">
                    <figure>
                        <img src="/images/hero_1.jpg" alt="Image placeholder" class="img-fluid">

                    </figure>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">


                <div class="site-section-heading pt-3 mb-4">
                    <h2 class="text-black font-heading-serif">Who are we?</h2>
                </div>
                <p>The KJSCE canteen is the most loved eating joint on Somaiya campus. Famously known as the "Engineering Canteen", we endeavour to give the best involvement to our fellow students and staff.</p>

            </div>
        </div>
    </div>
</div>



<div class="site-section py-5 bg-light custom-border-bottom" data-aos="fade">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-2">
                <div class="block-16">
                    <figure>
                        <img src="/images/hero_2.jpg" alt="Image placeholder" class="img-fluid ">


                    </figure>
                </div>
            </div>
            <div class="col-md-5 mr-auto">


                <div class="site-section-heading pt-3 mb-4">
                    <h2 class="text-black font-heading-serif">Food For You All</h2>
                </div>

                <p>We serve high-standard food at pocket friendly rates for all the Somaiya-id holders to relish in between their busy schedule of lectures and practicals. We are happy to be a piece of their lives.</p>


            </div>
        </div>
    </div>
</div>




    